.MainPage {
  color: white;
  text-align: center;
}

.MainPage .title {
  background-color: #000000;
  height: 40vh;
  margin: 0;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.MainPage .search_bar {
  background-color: rgb(50, 50, 159);
  height: 50vh;
  margin: 0;
}

.MainPage .search_bar h3 {
  margin: 0;
  padding: 30px;
}
