Body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: lightblue;
}

.Basic {
  width: 30vw;
  height: 70vh;

  position: absolute;
  top: 10%;
  right: 20%;
  left: 20%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;

  padding: 0px 100px 30px 100px;
  border: none;
  border-radius: 10px;
  background-color: rgb(207, 234, 241);
}

.Basic h1 {
  text-align: center;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

.Basic input {
  border: 2px solid white;
  background-color: rgb(207, 234, 241);
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  margin-top: 0px;
}

.Basic button {
  width: 170px;
  height: 50px;
  text-align: center;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}

.Basic form {
  display: flex;
  flex-direction: column;
}

.success {
  color: green;
}

.error {
  color: red;
}

.see {
  border: none;
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  background-color: rgb(230, 181, 223);

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.none {
  display: none;
}
