.Header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.Header .title,
.buttons {
  margin: 0px 30px;
}

.buttons {
  display: flex;
  text-align: center;
}
