.List{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.List > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 15px 0px;
}

.List > input:focus {
    outline: none;
    border-bottom: 1px solid rgb(103, 173, 103);
}

.List > .todowrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}