.Movie {
  background-color: rgb(50, 50, 179);
  color: white;
  margin: 11px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 200px;
  height: 350px;
  border: none;
  border-radius: 10px;
}

.Movie .not_hover .title {
  display: flex;
  justify-content: space-between;
}
