.Navbar {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  background-color: rgb(50, 50, 159);
  color: white;
  justify-content: space-between;
  height: 4vh;
  align-items: center; /* 수직 가운데 정렬 */
  padding: 5px;
}

.Navbar .right {
  display: flex;
  gap: 25px;
}

.Navbar button {
  background-color: rgb(50, 50, 159);
  border: none;
  color: white;
  font-size: 15px;
}

.Navbar .navlink {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.Navbar .login {
  color: gold;
}

.Navbar :hover {
  color: gold;
  cursor: pointer;
  font-size: large;
  text-decoration: none;
}

.Navbar .Navbar-side {
  display: none;
}

@media screen and (max-width: 600px) {
  .Navbar .right {
    display: none;
  }
  .Navbar .Navbar-side {
    display: flex;
  }
}
